.ExperiencesCard{
    width: 100%;
    padding: 10px;
}

.ExperiencesCard > h1{
    font-weight: 500;
}
.ExperiencesCard_body{
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}