
.BlogCard{
    width: 100%;
}
.BlogCard  * {
    margin-bottom: 10px;
}
.BlogCard > a {
    text-decoration: none;
}
.BlogCard_header{
    display: flex;
    justify-content: space-between;
    width: 105%;
}
.BlogCard_header_title > h1{
    width: 178px;
    margin: 20px 0px;
}
