.Skill{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin: 10px 0px;

}
.Skill > p {
 margin-right: 10px;
 width: 100px;
}

.Skill_line_percent,
.Skill_line {
    height: 9px;
    border-radius: 12px;
}
.Skill_line{
    width: 100%;
    background: #C4C4C4;
}

.Skill_line_percent {
     
    animation: loading-animation 2s linear ;
    background: #2F80ED;
    animation-fill-mode: forwards;
}


@keyframes loading-animation { 
    0% {
        width: 0%;
    }
    100% {
        width: var(--animation-width);
    }
}