.App{
  padding: 20px;
}

.header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.select_page{
  display: flex;
  align-items: center;
  justify-content: center;
}


