*{  
  margin: 0;
  text-align: left;
  font-style: normal;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F2F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4F4F4F;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

span{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4F4F4F;
}

p{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

li{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
}
button{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}